<div class='py-4 px-4 border rounded flex items-center flex-col mb-2'>
  <img [src]='product.image' [alt]='product.title' width='300px'>
  <h2 class='mb-2 text-lg text-center'>{{product.title}}</h2>
  <p>Price: <span class='font-bold'>{{product.price | currency: '₽'}}</span></p>

  <button class='border py-2 px-4 rounded mt-2'
          [ngClass]='{
          "bg-yellow-400": !details,
          "bg-blue-400": details
          }'
          (click)='details = !details'>
    {{ details ? 'Hide' : 'Show'}} description


  </button>


  <div *ngIf='details'>
    <div class='text-bold flex-col pt-2'>
      <p><strong>Description of product</strong>: {{product.description}}</p>
      <p><strong>Category of product</strong>: {{product.category}}</p>
      <p><strong>Rate of product</strong>: <span [ngStyle]='{fontWeight: "bold"}'>
      {{product.rating.rate}}</span></p>
    </div>
  </div>
</div>
